*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
.container{
  background: #DADADA;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on-off-cover{
  height: 20px;
  width: 40px;
  background: #FFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.on-off-button{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /* background: #494949; */
  /* position: absolute; */
  transition: 0.2s;
  background: url(lightmode.png) no-repeat;
  background-size: 15px;
  background-position: center;
  background-color: #494949;
}

.on{
  margin-left: 15px;
   background: url(darkmode.png) no-repeat;
  background-size: 15px;
  background-position: center;
  background-color: #494949;

}
.dark{
  background: #000;
  color: #fff;
}
@media only screen and (max-width:400px){
  .on-off-cover{
    height: 20px;
    width: 40px;
  }
  .on-off-button{
    height: 25px;
    width: 25px;
  }
  /* .on{
    height: 25px;
    width: 25px;
  } */
}
